.column
{
	display: table-cell;
	padding: 10px;
	width: 100px;
}

.hotspot
{
	border: solid thin #000000;
	background: #999999;
	text-align: center;
	height: 125px;
	width: 100px;
	vertical-align: center;
}

.hotspot p
{
	font-weight: bold;
}

#output-box
{
	
	border: dashed thin #000000;
	height: 75px;
	width: 575px;
	text-align: center;
	background: #000033;
	padding: 10px;
	display: block;
	position: absolute;
	top: 375px;
	left: 25px;
	color: #ffffff
}
