.column
{
	display: table-cell;
	padding: 20px;
	width: 200px;
}

#banner
{
	height: 75px;
	background:#000033;
	top: 0px;
	width: 100%;
	padding-top: 10px;
	padding-left: 40px;
}

.dragger
{
	border: solid thin #000000;
	background: #cccccc;
	padding-top: 5px;
	text-align: center;
	height: 90px;
	width: 300px;
	font-family: arial;
	vertical-align: center;
	cursor: move;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay
{
	border: dashed thin #000000;
	height: 90px;
	width: 300px;
	font-family: arial;
	text-align: center;
	vertical-align: center;
	color: white;
	background: #000033;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
