body
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}

h1
{
	 font-family: Arial, Verdana, serif;
	 font-size: 20px;
}

#banner
{
	height: 75px;
	background:#000033;
	top: 0px;
	width: 100%;
	padding-top: 10px;
	padding-left: 40px;
}

.header1
{
	  font-family: Arial, Verdana, serif;
	  font-size: 18px;
}

#format1 
{
    background: #cccccc;
    padding: 15px; 
    width:100%;
    font-size: 24px;
    border-radius: 40px 0px 0px 40px;
    position: relative;
    font-family: Arial, Verdana, serif;
    top: 0px;
    left: 250px;
}

#format2 
{
    background: #00b3b3;
    padding: 15px; 
    width: 550px;
    font-size: 20px;
    border-radius: 0px 40px 40px 0px;
    position: relative;
    font-family: Arial, Verdana, serif;
    top: 0px;
    left: 0px;
}

.background
{
	float: left;
    z-index: -1;
}

.firstscreen
{
	text-indent: 80px;
	font-size: 16px;
}

.size
{
	font-family: Arial, Verdana, serif;
	font-size: 16px;
}

p
{
	font-size: 16px;
}

ul
{
	margin-left: 100px;
	font-size: 16px;
}

#main-info
{
	float: left;
	width: 627px;
}

#main-info2
{
	float: left;
	width: 627px;
	padding-bottom: 60px;
}


#module-aside-info
{
	float: left;
	width: 200px;
	position: relative;
	top: 80px;
	padding-left: 10px;
}

#activity-aside-info
{
	width: 200px;
	position: absolute;
	top: 131px;
	left: 647px;
	padding-left: 10px;
}

#aside-info
{
	float: left;
	width: 200px;
	vertical-align: top;
	padding-left: 10px;
}
	
#main-content
{
	height: 368px;
	padding: 10px;
	margin: 10px;
}

a:link {
    color: #008080;
    text-decoration: none;
}

a:visited {
    color:  #00b3b3;
    text-decoration: none;
}

a:hover {
    color:  #990000;
}

#activelink
{
    background-color: #a6a6a6;
    color: white;
}

.quiz-navigation
{
  font-family: Arial, Verdana, serif;
  font-size: 16px;
}

.sub-navigation 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cccccc;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #dddddd;
}

#navigation
{
	background: #000033;	
	padding: 10px;
	width: 100%;
	float: left;
	height: 18px;
	font-size: 16px;
	padding-left: 10px
	position: fixed;
	bottom: 0px;
}

#aside-title-audio
{
	background: #000033;
	width: 233px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 5px;
}

#content-frame
{
	border: none;
}
	
#transcript
{
	color: #000000;
	font-size: 12px;
	overflow: auto;
	height: 321px;
	width: 233px;
}

audio
{
	width: 230px;
}

#quiz-link
{
display: none;
}

#back
{
    z-index: -1;
}

#place
{
	position: absolute;
	top: 330px;
	left: 280px;
}