.column
{
	display: table-cell;
	padding: 50px;
	width: 200px;
}

.dragger1
{
	border: solid thin #000000;
	background: #999999;
	text-align: center;
	height: 20px;
	width: 87px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger2
{
	border: solid thin #000000;
	background: #999999;
	text-align: center;
	height: 20px;
	width: 108px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger3
{
	border: solid thin #000000;
	background: #999999;
	text-align: center;
	height: 20px;
	width: 150px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger4
{
	border: solid thin #000000;
	background: #999999;
	text-align: center;
	height: 20px;
	width: 217px;
	vertical-align: center;
	cursor: move;
	position: relative;
	ghosting: true;
}

.dragger p
{
	font-weight: bold;
}

.draggerbay1
{
	border: dashed thin #000000;
	height: 20px;
	width: 87px;
	text-align: center;
	background: #ffec80;
	position: absolute;
	top: 344px;
	left: 125px;
}

.draggerbay2
{
	border: dashed thin #000000;
	height: 20px;
	width: 87px;
	text-align: center;
	background: #ffec80;
	position: absolute;
	top: 299px;
	left: 490px;
}

.draggerbay3
{
	border: dashed thin #000000;
	height: 20px;
	width: 87px;
	text-align: center;
	background: #ffec80;
	position: absolute;
	top: 395px;
	left: 472px;
}

.draggerbay4
{
	border: dashed thin #000000;
	height: 20px;
	width: 87px;
	text-align: center;
	background: #ffec80;
	position: absolute;
	top: 378px;
	left: 192px;
}

[draggable=true] 
{
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
